body {
  background-color: #000000;
  color: white;
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: #000021;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
}

nav a:hover {
  background-color: #00002c;
  color: white;
}

nav a.active {
  background-color: #000036;
  color: white;
}
