body {
  background-color: #000000;
  color: white;
  margin: 0;
}

nav a {
  display: inline-block;
  background-color: #ffe;
  border: solid 1px #ffa;
  border-bottom: 0px;
  margin-left: 0;
  margin-right: .2em;
  margin-top: 0;
  margin-bottom: 0em;
}
